# -*- coding:utf-8 mode:Python -*-

import sys,os
from os import path

## debug
debug = 1
editable = True

## caches
# if client cache is older than this revision, always resend the data regardless of lastmodified revision
# you may update this value when you rewrite invariant sections.
global_lastmodified_date = None
use_client_cache = False

## subversion repository
svn_base = 'private'
repository_path = '/Users/mizuy/repos_wikicontent'
bodytxt = 'body.txt'

## path
pwd = path.abspath(path.join(path.dirname(__file__),'..'))
cachedir = path.join(pwd,'cache/')
cachedb = path.join(cachedir,'cache.db')
tmp_dir = path.join(pwd,'tmp/')

hostname = 'localhost'
w_path = 'w'
top_url = 'http://%s/w/'%hostname
tex_url = 'http://%s/cgi/mimetex.cgi'%hostname

def full_url(p):
    return top_url.rstrip('/') + '/' + path.normpath(p).strip('/')

## spam filter
spamblock = False
rbl_list = [
    'niku.2ch.net',
    'bsb.spamlookup.net',
    'list.dsbl.org',
    ]
whitelist_ip = [
    '0::1',
    '::1',
    '127.0.0.1',
    '192.168.0.10',
    '192.168.0.35',
    ]
blacklist = [
    '.s05.a012.ap.plala.or.jp',
    ]

## attach file
max_attach_size = 1024*1024
mime_map = {
    '.css':'text/css',
    '.txt':'text/plain;charset=utf-8',
    '.zip':'application/zip',
    '.gif':'image/gif',
    '.png':'image/png',
    '.jpg':'image/jpg',
    '.svg':'image/svg+xml'
    }



site_name = 'Medical Science : Student to Student Wiki'
description = 'Medical Science : Student to Student Wiki'
keywords = 'Medicine, Medical Science, subverison, python'
author = 'mizuy, Tohoku University, school of medicine'
use_logo = False
use_copyright_footer = True
