# -*- coding:utf-8 mode:Python -*-

import sys,os

## debug
DEBUG = True
EDITABLE = True

## caches
# if client cache is older than this revision, always resend the data regardless of lastmodified revision
# you may update this value when you rewrite invariant sections.
GLOBAL_LASTMODIFIED_DATE = None
USE_CLIENT_CACHE = False

## subversion repository
SVN_BASE = 'private'
REPOSITORY_PATH = '/Users/mizuy/repos_wikicontent'

## if None, generate based on environ of requests.
URL_SCHEME = 'http'
HOSTNAME = 'localhost:5000'
SCRIPT_NAME = ''
TEX_URL = 'http://localhost:5000/cgi/mimetex.cgi'

## path
PWD = os.path.abspath(os.path.join(os.path.dirname(__file__),'..'))
TMP_DIR = os.path.join(PWD,'tmp/')
#DATABASE = 'sqlite:///:memory:'
DATABASE = 'sqlite:///'+os.path.join(PWD,'cache/cache.db')

BLOCK_SIZE = 4096

## spam filter
SPAMBLOCK = False

"Spam blocker RBL list. see http://en.wikipedia.org/wiki/DNSBL, http://www.rbl.jp/"
RBL_LIST = [
    'niku.2ch.net',
    'bsb.spamlookup.net',
    'list.dsbl.org',
    ]
"whitelist. only ip allowed"
WHITELIST = [
    '0::1',
    '::1',
    '127.0.0.1',
    '192.168.0.10',
    '192.168.0.35',
    ]
"blacklist. domain suffix patterns."
BLACKLIST = [
    '.s05.a012.ap.plala.or.jp',
    ]

## attach file
MAX_ATTACH_SIZE = 1024*1024
MIME_MAP = {
    '.css':'text/css',
    '.txt':'text/plain;charset=utf-8',
    '.zip':'application/zip',
    '.gif':'image/gif',
    '.png':'image/png',
    '.jpg':'image/jpg',
    '.svg':'image/svg+xml',
    '.ico':'image/vnd.microsoft.icon'
    }


SITE_NAME = 'Private Wiki'
DESCRIPTION = 'Private Wiki Description'
KEYWORDS = 'keywords, hogehoge, foo, bar'
AUTHOR = 'mizuy, Tohoku University, school of medicine'
LOGO = None
#LOGO = 'logo.png'
USE_COPYRIGHT_FOOTER = True
